
section.acomodacao h2{
    font-size: 2.5rem;
}

article.acomodacao__destaque {
    display: flex;
    justify-content: space-between;
}

article.acomodacao__destaque p {
    font-size: 1.5rem;
    padding: 10px 20px 20px 0;
}
article.acomodacao__destaque img, article.acomodacao__destaque h2 {
    margin: 20px 0;

}
