.gastronomia__container{
    margin-top: 3rem;
}
.gastronomia__titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
}
.gastronomia_conteudo{
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem; 
    justify-content: space-between;
    margin-top: 2rem;
    
}
.gastronomia_sobre{
    max-width: 50vw;
    border-right: 2px;
    border-color: aqua;
}
.gastronomia_image{
    max-width: 28vw;
    border-radius: 50%;
}