.gastronomia__container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1230px;

}

.gastronomia__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gastronomia__titulo h2 {
    font-size: 2.5rem;
}

.gastronomia_conteudo {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    justify-content: space-between;
    margin-top: 4rem;
    font-size: 1.1rem;
}

.gastronomia_sobre {
    max-width: 50vw;
}

.gastronomia__linha__vertical {
    height: 250px;
    border-right: 0.2rem solid #00c1ea;
}

.gastronomia__linha__horizontal {
    width: 500px;
    border-bottom: 0.2rem solid #ff9000;
}

.gastronomia_image {
    max-width: 23vw;
    border-radius: 50%;
}
.gastronomia__icon{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.gastronomia__icon__image{
    width: 4rem;
    margin-right: 2rem
}