  
  .hotel__minha-reserva{
    margin-top: 8vh;
  }

  .hotel__minha-reserva h2{
    font-size: 2.8rem;
    margin-bottom: 2vh;
  }

 .hotel__minha-reserva_campos {
    display: flex;
    margin: 10px 100px 20px 20px;
    padding: 0px 20px 20px 20px;
    
 }

 .hotel__minha-reserva_campos li{
    margin: 0px 10px 0px 10px;
    display: inline-flex;
    position: relative;
    flex-direction: column;
 }

 .hotel__minha-reserva_campos li label{
    margin: 0px 10px 0px 10px;
    display: block;
 }

 .hotel__minha-reserva_campos li select{
    margin: 0px 10px 0px 10px;
    display: block;
    border: 2px solid var(--black);
 }
 
 .hotel__minha-reserva_campos li input{
    margin: 0px 10px 0px 10px;
    display: block;
    border: 2px solid var(--black);
 }

 .hotel__lado_quartos{
    position: relative;
 }

 .hotel__lado_quartos hr{
    margin-top: 3vh;
    margin-bottom: 1vh;
 }
 .hotel__lado_quarto_titulo{
   padding: 3px;
 }

 .hotel__container-quarto-resumo{
    display: flex;
 }

 .hotel__lado_quartos{
    flex-direction: column;
    margin-right: 3vh;
    max-width: 70%;
 }

 .hotel__lado_resumo{
    flex-direction: column;
    margin-left:  2vh;
    margin-right: 0;
    margin-top: 6vh;
    border: 2px solid #000;   
    max-width: 100%; 
 }
.hotel__lado_resumo a{
    display: block;
    padding: 10%;
    text-decoration: underline;
    font-weight: 700;
}

.hotel__lado_resumo button{
    display: block;
    margin-left: 40%;
    padding: 2%;
    cursor: pointer;
}

.hotel__lado_resumo h3 {
    font-size: 1.4rem;
    padding: 7rem 3rem 0rem;
}
.hotel__lado_resumo-info{
    margin: 20% 10% 20% 10%;
    border: 2px solid #000;    
}

.hotel__lado_resumo-info span{
    display: block;
    padding: 0.4rem;
    font-weight: bold;
}

.hotel__card{
    display: flex;
    margin-bottom: 2%;
    /* border: 1px solid #000;  */
}

.hotel__card_image{
   display: block;
   padding: 1rem;
}

.hotel__card_detalhes span{
    display: block;
    flex-direction: column;
    padding: 1rem;
}

.hotel__card_detalhes input {
    margin-left: 1rem;
}

.hotel__titulo_card{
    font-size: 1.6rem;
}

.hotel__quarto_valor{
    font-weight: 600;
}
 ul {
    list-style: none;
 }
