@use "./variaveis.scss" as *;

// display flex

@mixin displayFlex100 () {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $margem;  
}

@mixin displayFlex90 () {
    width: 90%;
    @include displayFlex100();
}

@mixin displayFlex80 () {
    width: 80%;
    @include displayFlex100(); 
}

// ========================================

@mixin titulo () {
    font-size: $fonteTitulo;
    font-weight: $pesoTitulo;
    text-align: center;
    color: $corTitulo;
}

@mixin texto () {
    font-size: $fonteTexto;
    font-weight: $pesoTexto;
    line-height: $alturaLinha;
    text-align: $alinhamentoTexto;
    color: $corTitulo;
}

@mixin botao () {
    
}

