.acomodacao {
    width: 100%;
    display: flex;
    margin: 3rem auto;
}

.acomodacao__titulo {
    width: 100%;
    text-align: center;
    font-size: 4.8rem;
}

.acomodacao__galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4.8rem;
}

.acomodacao__galeria-itens {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.acomodacao__galeria-itens img {
    width: 30%;
    max-width: 325px;
}

/* Acomodação em Destaque */

.acomodacao__destaque {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4.8rem;
    
}

.acomodacao__destaque--titulo {   
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.acomodacao__destaque--descricao {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;    
}

.acomodacao__destaque--descricao p {
    width: 60%;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: justify;
    padding: 0 2rem;
}

.acomodacao__destaque--imagem {
    width: 40%;
    align-items: flex-start;
    margin: 0 auto;
    
}

.acomodacao__destaque--imagem img {
    width: 100%;
    max-width: 552px;
}


@media screen and (max-width: 768px) {
    .acomodacao__galeria-itens {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .acomodacao__galeria-itens img {
        width: 100%;
        max-width: 100%;
        margin: 1rem 0;
    }

    .acomodacao__destaque--descricao {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .acomodacao__destaque--descricao p {
        width: 100%;
        text-align: justify;
    }

    .acomodacao__destaque--imagem {
        width: 100%;
        align-items: center;
    }

    .acomodacao__destaque--imagem img {
        max-width: 100%;
    }
}