@use "./variaveis.scss" as *;

@mixin displayFlex () {
    display: flex;
    align-items: $align_itens;
    justify-content: $justify_content;  
}

@mixin titulo () {
    font-size: $fonteTitulo;
    font-weight: $pesoTitulo;
    color: $corTitulo;
}

@mixin texto () {
    font-size: $fonteTexto;
    font-weight: $pesoTexto;
    line-height: $alturaLinha;
    text-align: $alinhamentoTexto;
    color: $corTitulo;
}

