$laranja-claro: #FFE181;
$laranja: #FF5F00;
$amarelo: #FFC10E;
$preto: #000;
$azul: #00c1ea;
$branco: #fff;
$cinza: rgb(221, 216, 216);
$corBodyLogin: #FFF5EB;
$sombreamento: #999;
$hoverRed: #ff0000;

$bgPraia: '../imagens/praia.jpg';
$bgFuncionario: '../imagens/funcionario.jpg';