@use '../abstracts/variaveis' as *;

.cadastro__hospede__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 50px 0;

}
.cadastro__hospede__container p{
   margin: 15px 0 0 0;
    
}
.form__cadastro__hospede{
    max-width: 500px;
}
.input__cadastro__hospede{
   padding: 15px;
   margin: 10px;
}
.botao__cadastro__hospede{
    margin: 10px;
    padding: 15px;
    background-color: $laranja;
    color: $branco;
    cursor: pointer;
}
.botao__cadastro__hospede:hover{
    background-color: $laranja-claro;
}