@use '../abstracts/variaveis' as *;
@use '../abstracts/mixins' as *;
/*  RESERVAS  */

.hotel__minha-reserva {
  margin-top: 8vh;

  h2 {
    font-size: 2.8rem;
    margin-bottom: 2vh;
  }
  &_campos {
    li {
      display: inline-flex;
      position: relative;
      flex-direction: column;
      margin: 0px 10px 0px 10px;

      label {
        @include reservacampos;
      }
      select {
        @include reservacampos;
        border: 2px solid $preto;
      }
      input {
        @include reservacampos;
        border: 2px solid $preto;
      }
    }
  }
}

.hotel__minha-reserva2 {
  h2 {
    margin-left: 2rem;
  }
}

.hotel__linha {
  &_horizontal {
    width: 80%;
    height: 0.2rem;
    background: $laranja;
    margin: 0 auto;
    border: none;
  }
  &_vertical-reservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
  }
  &_vertical-reservas span:hover {
    width: 0.2rem;
    height: 100%;
    background-color: $azul;
    margin: 2rem;
    border-radius: 1rem;
  }
}

.hotel__container-quarto-resumo {
  display: flex;
  justify-content: space-between;
}

.hotel__lado_quartos {
  position: relative;
  flex-direction: column;
  margin-right: 3vh;
  max-width: 70%;
  hr {
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  &_titulo {
    padding: 3px;
  }
}

.hotel__lado_resumo {
  flex-direction: column;
  border: 1px solid $preto;
  width: 30%;
  max-height: 100%;
  background-color: $branco;
  padding: 1rem;

  & span {
    width: 100%;
    display: inline-block;
    align-items: center;
    padding: 0.4rem;
    text-align: center;
    font-weight: bold;
  }

  .reserva__botoes {
    .reserva__botao {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3rem 0;
      display: flex;
      border: none;
      background-color: $laranja;
      font-size: 1.6rem;
      font-weight: 700;
      cursor: pointer;
      border-radius: 1rem;

      & a {
        display: flex;
        font-weight: 700;
        text-decoration: none;
        text-justify: left;
         padding: 2rem 1rem;
        color: $preto;
        transition: all 0.3s ease-in-out;
    }
    & :hover {
        color: $branco;
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  h3 {
    font-size: 1.4rem;
    padding: 7rem 3rem 0rem;
  }

  &-info {
    margin: 20% 10% 20% 10%;
    border: 2px solid $preto;

    span {
      display: flex;
      padding: 0.4rem;
      font-weight: bold;
    }
  }
}

.hotel__card {
  display: flex;
  margin-bottom: 2%;
  background-color: $branco;
  border-radius: 2%;
  box-shadow: 5px 5px $cinza;
  padding-bottom: 1rem;

  &_image {
    display: block;
    padding: 1rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &_detalhes {
    span {
      display: block;
      flex-direction: column;
      padding: 1rem;
    }
    input {
      margin-left: 1rem;
    }
  }
}
.hotel__titulo_card {
  font-size: 1.6rem;
  font-weight: bold;
}

.hotel__quarto_valor {
  font-weight: 600;
}

ul {
  list-style: none;
}
////////////=========================================================================
// Modal
$color_1: #fff;
$color_2: #555;
$color_3: #8e8e8e;
$color_4: #777;
$color_5: #333;
$color_6: #313437;
$color_7: #969696;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Open sans', sans-serif;
$background-color_1: #f9fafb;
$background-color_2: #fff;
$background-color_3: #ff3b3b;
$background-color_4: #4CAF50;
$background-color_5: #FFC107;
$background-color_6: #0085d3;
$border-color_1: #4CAF50;
$border-color_2: #FFC107;
$border-color_3: #0085d3;

/*Card verde*/
/*Card verde*/
/*Card laranja*/
/*Card laranja*/
/*Card azul*/
/*Card azul*/
.services {
  // z-index: 1;
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: rgba($color: #ebe7e7, $alpha: 0.9);
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  & .service__cabecalho{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
    .sevice__cabecalho--titulo {
      font-size: 3.2rem;
      font-weight: 700;
      color: $color_5;
      margin-bottom: 1rem;
    }
    .service__cabecalho--paragrafo {
      font-size: 1.6rem;
      font-weight: 400;
      color: $color_3;
      margin-bottom: 2rem;
    }
  }
}

.service__itens{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 0 auto;
  padding: 2rem;

  & .card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.7s;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: $background-color_2;
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.08);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    &:hover {
      box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, 0.15);
      .service-imagem {
        box-shadow: 0 0 0 .3rem rgba(255, 59, 59, 0.68);
      }
      .service__imagem-icon {
        i {
          opacity: .5;
        }
      }
      .service-imagem.s-green {
        box-shadow: 0px 0px 0px 3px rgba(76, 175, 80, 0.46);
      }
      .service-imagem.s-orange {
        box-shadow: 0px 0px 0px 3px rgba(255, 152, 0, 0.42);
      }
      .service-imagem.s-blue {
        box-shadow: 0px 0px 0px 3px rgba(0, 133, 211, 0.59);
      }
    }
    &:focus {
      .service-imagem {
        box-shadow: 0px 0px 0px 3px rgba(255, 59, 59, 0.68);
      }
      .service__imagem-icon {
        i {
          opacity: 1;
        }
      }
      a.more-servinfo {
        opacity: 1;
        &::after {
          width: 35%;
        }
      }
      .service-imagem.s-green {
        box-shadow: 0px 0px 0px 3px rgba(76, 175, 80, 0.46);
      }
      .service-imagem.s-orange {
        box-shadow: 0px 0px 0px 3px rgba(255, 152, 0, 0.42);
      }
      .service-imagem.s-blue {
        box-shadow: 0px 0px 0px 3px rgba(0, 133, 211, 0.59);
      }
    }
  }
}

.service-imagem {
	width: 13rem;
	height: 13rem;
	margin: auto;
	display: flex;
	border-radius: 100%;
	transition: box-shadow 0.4s;
}
.service__imagem-icon {
	width: 95%;
	height: 95%;
	margin: auto;
	text-align: center;
	border-radius: 100%;
	// background-color: $background-color_3;
	// color: $color_1;
	display: flex;
	i {
		margin: 0 auto;
		font-size: 3rem;
		opacity: 1;
		transition: opacity 0.4s;
	}
}
h3.serv-name {
	font-size: 17px;
	font-family: $font-family_1;
	color: $color_2;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 10px;
}
hr.serv-hr {
	margin: 0 auto;
	width: 50px;
	opacity: 0.5;
	border: 1px solid #ff3b3b;
}
p.ssubinfo {
	margin-top: 10px;
	color: $color_3;
	font-family: $font-family_1;
	font-size: 14px;
	margin-bottom: 30px;
}
a.more-servinfo {
	font-family: $font-family_1;
	color: $color_4;
	text-decoration: none;
	font-weight: 500;
	font-size: 15px;
	text-transform: capitalize;
	opacity: 0.6;
	transition: opacity 0.4s;
	&:visited {
		font-family: $font-family_1;
		color: $color_4;
		text-decoration: none;
		font-weight: 500;
		font-size: 15px;
		text-transform: capitalize;
		opacity: 0.6;
		transition: opacity 0.4s;
	}
	&:hover {
		color: $color_5;
	}
	&:focus {
		color: $color_5;
	}
	&::after {
		content: '';
		display: none;
		margin: auto;
		width: 0%;
		transition: width 0.4s;
		border-top: 1px solid;
		margin-top: 3px;
	}
}
.service__imagem-icon.s-green {
	background-color: $background-color_4;
}
.serv-hr.s-green {
	border-color: $border-color_1;
}
.service__imagem-icon.s-orange {
	background-color: $background-color_5;
}
.serv-hr.s-orange {
	border-color: $border-color_2;
}
.service__imagem-icon.s-blue {
	background-color: $background-color_6;
}
.serv-hr.s-blue {
	border-color: $border-color_3;
}
.col-sm-12.session-title {
	text-align: center;
	padding-bottom: 30px;
}
h1.session-tit {
	margin: 0;
	font-size: 26px;
	font-weight: 900;
	color: $color_6;
	font-family: $font-family_1;
	opacity: 0.8;
}
hr.ss-hr {
	width: 80px;
	border: 1px solid;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.1;
}
p.ss-pp {
	font-family: $font-family_2;
	font-weight: 500;
	color: $color_7;
	font-size: 14px;
	width: 400px;
	margin: auto;
	max-width: 100%;
}

