// sass --watch scss/sobre.scss:css/sobre.css
@use '../abstracts/variaveis' as *;
@use '../abstracts/mixins' as *;

.sobre {
  width: 100%;
  margin: 3rem auto;
  &__titulo {
    @include titulo();
    text-align: center;
    margin-bottom: 2rem;
  }
  &__conteudo {
    width: 100%;
    @include displayFlex100();
  }
  &__conteudo-imagem {
    width: 30%;
    margin-right: 2rem;
    img {
      width: 100%;
      border-radius: 0.6rem;
    }
  }
  &__conteudo-texto {
    width: 70%;
    margin-right: 2rem;
  }
  &__conteudo-texto-descricao {
    @include texto();
    margin-bottom: 2rem;
  }
}
  .sobre__carrossel {
    width: 100%;
    @include displayFlex100();
    flex-direction: column;
  
  &-titulo {
    @include titulo();
    margin-bottom: 2rem;
  }
  &-conteudo {
    width: 100%;
    margin: $margem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  &-conteudo-imagem {
    width: 100%;
    @include displayFlex100();
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .container {
    @include displayFlex90();
  }
  .sobre__conteudo {
    flex-direction: column;
    margin: 0 auto;

    &-imagem {
      width: 100%;
      margin-bottom: 2rem;
    }

    &-texto {
      width: 100%;
    }
  }
    .sobre__carrossel-conteudo {
      grid-template-columns: repeat(1, 1fr);
      margin: 3rem;
    }
}
