@use "../abstracts/variaveis" as *;

.header__titulos--usuario button {
    padding: 1rem 3rem;
    border: none;
    background-color: $laranja;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 1rem;
}


/* READER */
header {
    background-color: var(--laranja-claro);
    width: auto;
    margin-bottom: 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
}

.header__logo {
    width: 30%;
}

.header__logo img {
    width: 20rem;
}

.header__titulo {
    width: 40%;
    text-align: center;
    color: var(--laranja);
}

.header__titulo h1 {
    font-size: 4.8rem;
    font-weight: 700;
}

.header__usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    padding: 0 2rem;
}

.button {
    width: 20rem;
    max-width: 20rem;
    margin: 1rem 0;
    padding: 1rem;
    color: rgb(15, 93, 176);
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.header__usuario--login {}

.header__usuario--login img {
    width: 1.5rem;
    margin-left: 0.5rem;
}

.header__usuario--login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
    background-color: var(--yellow);
    text-align: center;
}

.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: rgb(15, 93, 176);
    font-size: 1.8rem;
    padding: 1rem;
}

.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    left: 0;
    color: var(--laranja);
    background-color: var(--laranja);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}