$laranja-claro: #f8782e;
$laranja: #fc5d01;
$amarelo: #FFC10E;
$preto: #000;
$azul: #00c1ea;
$branco: #fff;
$cinza: rgb(221, 216, 216);
$corBodyLogin: #fff5eb;
$sombreamento: #999;
$hoverRed: #ff0000;
$borderInput: #CCBBFF;
$focusInput: #ededfa;


// largura do body 1440px
$larguraMaximaBody: 1440px;
$larguraBody: 100%;
$alturaBody: 100vh;
$margem: 0 auto;
$displayFlex: flex;
$displayGrid: grid;
$alinhamento: center;

$bgPraia: '../imagens/praia.jpg';
$bgFuncionario: '../imagens/funcionario.jpg';

// Fonte titulo
$fonteTitulo: 4.8rem;
$pesoTitulo: 500;
$corTitulo: $preto;

// Fonte texto
$fonteTexto: 1.8rem;
$pesoTexto: 100;
$alturaLinha: 2.4rem;
$alinhamentoTexto: justify;
$corTexto: $preto;


$laranja-claro: #f8782e;
$laranja: #fc5d01;
$amarelo: #FFC10E;
$preto: #000;
$azul: #00c1ea;
$branco: #fff;
$cinza: rgb(221, 216, 216);
$corBodyLogin: #fff5eb;
$sombreamento: #999;
$hoverRed: #ff0000;
$borderInput: #CCBBFF;
$focusInput: #ededfa;


// largura do body 1440px
$larguraMaximaBody: 1440px;
$larguraBody: 100%;
$alturaBody: 100vh;
$margem: 0 auto;
$displayFlex: flex;
$displayGrid: grid;
$alinhamento: center;

$bgPraia: '../imagens/praia.jpg';
$bgFuncionario: '../imagens/funcionario.jpg';

// Fonte titulo
$fonteTitulo: 4.8rem;
$pesoTitulo: 500;
$corTitulo: $preto;

// Fonte texto
$fonteTexto: 1.8rem;
$pesoTexto: 100;
$alturaLinha: 2.4rem;
$alinhamentoTexto: justify;
$corTexto: $preto;

